ul, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/*    FONTS    */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

.montserrat{
    font-family: 'Montserrat';
}

.roboto{
    font-family: 'Roboto';
}

/*    PAGE    */

.page{
    background: url('../img/back.png') no-repeat top center / cover;
    
}

.page__content{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__overlay{
    height: 100%;
    width: 100%;
    background-color: #002855;
    opacity: 0.6;
    position: absolute;
}

.form{
    width: 820px;
    height: 720px;
    background-color: #fff;
    z-index: 1;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}

/*    HEADER    */

.form__header{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.menu__list{
    display: flex;
    gap: 0 30px;
    align-items: center;
    list-style: none;
    font-size: 12px;
}

.header__title{
    font-size: 38px;
}

/*   MAIN    */

.form__main{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px ;
    font-size: 16px;
    padding: 50px 0;
}

.main__input{
    width: 490px;
    height: 35px;
    border: 1px solid #ebebeb;
}

.main__input:last-child{
    height: 140px;
}

/*    FOOTER    */

.form__footer{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
}
.footer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__input{
    height: 35px;
    width: 315px;
    border: 1px solid #ebebeb;
}
.footer__input-label{
    color: #82a6bf;
    font-size: 12px;
}
.footer__img{
    width: 160px;
}